:root {
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --white: #FFFFFF;
    --light-blue: #1B9EDE;
    --gray: #BFC2C5;
    --black: #000000;
    --dark-gray: #222D39;
    --input-error: #FF3B30;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-style: normal;
    background: var(--white)
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* forms title */
h4 {
    color: var(--dark-gray);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

form {
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
}

label {
    color: var(--dark-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

textarea {
    padding: 14px 16px;
    max-width: 400px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid var(--gray);
    outline: none;
}

textarea::placeholder {
    color: var(--gray);
}

textarea:focus {
    border-color: var(--light-blue);
}

textarea.error{
    border-color: var(--input-error);
}

input {
    padding: 14px 16px;
    max-width: 400px;
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 4px;
    margin: 8px 0;
}

input.error {
    border-color: var(--input-error);
}

input:focus {
    outline: none;
    border-color: var(--light-blue);
    box-shadow: none;
}

input::placeholder {
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.input_error {
    color: var(--input-error);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 16px;
}

.submit_btn {
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    padding: 12px 120px;
    background-color: var(--light-blue);
    color: var(--white);
    border: 1px solid var(--light-blue);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    transition: ease .5s;
}

.submit_btn:hover {
    background-color: var(--white);
    color: var(--black);
}

.submit_btn:disabled {
    background-color: var(--gray);
    color: var(--white);
    cursor: auto;
    border-color: var(--gray);
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
}
